body {

  background-color: lightgrey;
  margin: auto;
  justify-content: space-around;
}

#app1 {
  display: inline-flex;
  flex-wrap: wrap;  
  justify-content: space-around; 
  margin: 50px;
  padding: 10px; 
  background-color:goldenrod;
  border-style: inset;
  border: 4px;
  border-radius: 15px;
  

}

#app2 {
  display: inline-flex;
   flex-wrap: wrap; 
  justify-content: space-around;
  margin: auto;
  padding: 10px; background-color:goldenrod;
  border-style: inset;
  border: 4px;
  border-radius: 15px;
  
}

.topnav {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  color:
}

#motto {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
 
}

.card {
  display: space-around;
}
