body {
  background-color: aqua;
}

#students {
  display: flex;
  margin: 30px;
  padding: 15px;
  flex-wrap: wrap;
  height: 55px;
}

#death-eaters {
  display: flex;
  margin: 30px;
  padding: 15px;
  flex-wrap: wrap;
}
